{{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

<!-- product-recently-viewed -->
<div class="product-recently-viewed collection-slider">
  <div class="container">
    <h2 class="product-recently-viewed__title section__title">最近チェックした商品</h2>

    <ul id="js-recentlySliderBody" class="js-recentlySlider collection-slider__list product-recently-viewed__list">

      <!-- {% unless customer %} -->
        {%- comment -%} 未ログイン時 {%- endcomment -%}
        <!-- <p id="wishlist-empty-text"
          style="padding: 60px 0; text-align: center;min-height: 320px; display: flex; align-items: center;">
          まだ最近チェックした商品がありません
        </p> -->
      <!-- {% endunless %} -->

    </ul>
  </div>
</div>

{%- comment -%} ログイン時のみ発動 {%- endcomment -%}
<!-- {% if customer %} -->
  {%- comment -%} 商品カード {%- endcomment -%}
  {% raw %}
    <script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
      <li class="featured-collection-slider__item collection-slider__item">
        <div class="product-card">
          <a href="${url}" class="product-card__link">
            <div class="product-card__head">
              <img src="${Shopify.Products.resizeImage(featured_image, "master")}" alt="${title}">
            </div>
            <div class="product-card__body">
              <h3 class="product-card__title">${title}</h3>
              <p class="product-card__price">
                ${(price / 100).toLocaleString()}
                <span class="tax">（税込）</span>
              </p>
            </div>
          </a>
        </div>
      </li>
    </script>
  {% endraw %}

<!-- {% endif %} -->
